<section class="card-dashboard" layout layout-wrap layout-align="center">
  <md-card>
    <img [src]="developmentsLogo" width="25%" alt="Developments">
    <md-card-title>
      <span class="md-headline">Developments</span>
    </md-card-title>
    <md-card-actions>
      <button md-raised-button color="primary" (click)="redirect('home')">Developments</button>
    </md-card-actions>
  </md-card>
  <md-card>
    <img [src]="newDevelopmentLogo" width="25%" alt="New Development">
    <md-card-title>
      <span class="md-headline">New Development</span>
    </md-card-title>
    <md-card-actions>
      <button md-raised-button color="primary" (click)="redirect('home')">New Development</button>
    </md-card-actions>
  </md-card>
  <md-card>
    <img [src]="kpiDashboardLogo" width="25%" alt="KPI Dashboard">
    <md-card-title>
      <span class="md-headline">KPI Dashboard</span>
    </md-card-title>
    <md-card-actions>
      <button md-raised-button color="primary" (click)="goKpiDashboardReport()">KPI Dashboard</button>
    </md-card-actions>
  </md-card>
  <md-card>
    <img [src]="reportPriorityLogo" width="25%" alt="Priority Report">
    <md-card-title>
      <span class="md-headline">Daily Priority Report</span>
    </md-card-title>
    <md-card-actions>
      <button md-raised-button color="primary" (click)="goPriorityReport()">Priority Report</button>
    </md-card-actions>
  </md-card>
  <md-card>
    <md-card-title>Workflows Complete</md-card-title>
    <md-card-subtitle>Current Values</md-card-subtitle>
    <ngx-charts-pie-chart class="md-card-image"
                          [scheme]="chartWorkflowColorScheme"
                          [results]="chartWorkflowData"
                          [legend]="chartWorkflowShowLegend"
                          [explodeSlices]="chartWorkflowExplodeSlices"
                          [labels]="chartWorkflowShowLabels"
                          [doughnut]="chartWorkflowDoughnut"
                          [gradient]="chartWorkflowGradient"
                          (select)="onChartWorkflowSelect($event)">
    </ngx-charts-pie-chart>
    <md-card-actions>
      <button md-raised-button color="primary" (click)="goWorkflowReport()">Workflow</button>
    </md-card-actions>
  </md-card>
  <md-card>
    <img ng-src="img/angular-logo.png" class="md-card-image" alt="Washed Out">
    <md-card-title>
      <span class="md-headline">Monthly Revenue</span>
    </md-card-title>
    <md-card-actions>
      <button md-raised-button color="primary" (click)="goRevenueReport()">Revenue</button>
    </md-card-actions>
  </md-card>
  <md-card>
    <md-card-title>Completed Artifacts</md-card-title>
    <md-card-subtitle>Current Products</md-card-subtitle>
    <ngx-charts-number-card
      [scheme]="chartNumberCardColorScheme"
      [results]="chartNumberCardData"
      (select)="chartNumberCardOnSelect($event)">
    </ngx-charts-number-card>
    <md-card-actions>
      <button md-raised-button color="primary" (click)="goArtifactReport()">Artifacts</button>
    </md-card-actions>
  </md-card>
</section>
