<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title><%= htmlWebpackPlugin.options.title %></title>

  <meta name="description" content="<%= htmlWebpackPlugin.options.title %>">

  <% if (webpackConfig.htmlElements.headTags) { %>
  <!-- Configured Head Tags  -->
  <%= webpackConfig.htmlElements.headTags %>
  <% } %>

  <!-- base url -->
  <base href="<%= htmlWebpackPlugin.options.metadata.baseUrl %>">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

</head>

<body>

  <app>
    Loading...
  </app>


  <!-- Cognito -->
  <script src="assets/js/jsbn.js"></script>
  <script src="assets/js/jsbn2.js"></script>
  <script src="assets/js/sjcl.js"></script>
  <script src="assets/js/aws-cognito-sdk.min.js"></script>
  <script src="assets/js/amazon-cognito-identity.min.js"></script>
  <script src="assets/js/aws-sdk-2.7.13.min.js"></script>
  <script src="assets/js/aws-sdk-mobile-analytics.min.js"></script>
  <!-- /Cognito -->

  <% if (htmlWebpackPlugin.options.metadata.isDevServer && htmlWebpackPlugin.options.metadata.HMR !== true) { %>
  <!-- Webpack Dev Server reload -->
  <script src="/webpack-dev-server.js"></script>
  <% } %>


</body>
</html>
